<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NewsAccrue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saved Articles</a>
      </li>
      <li class="nav-item pl-1">
        <button type="button" class="btn btn-danger">Scrape New Articles</button>
      </li>
      <li class="nav-item pl-2">
        <button type="button" class="btn btn-danger">Clear Articles</button>
      </li>  
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">NewsAccrue</h1>
                    <p class="lead">A Polygon News Scrapper</p>
                </div>
            </div>
        </div>
    </div>
    <div id="articles"></div>
    <div class="hidden" id="no-articles">
        <div class="row" id="no-articles">
            <div class="col-md-12">
                <p>Uh Oh. Looks like we don't have any new articles.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>What Would you like to do?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="#">Try Scraping New Articles</a></p>
                <p><a href="#">Go to Saved Articles</a></p>
            </div>
        </div>
    </div>
    <div class="row fixed-bottom">
        <div class="col-md-12">
            <p>NewsAccrue: A Polygon News Scrapper</p>
        </div>
    </div>
</div>